{:deps {:aliases [:dev]}
 :nrepl {:port 9000}
 :dev-http {3000 "resources/public"}
 :builds {:main {:target :browser
                 :output-dir "resources/public/js/main"
                 :asset-path "/js/main"

                 :modules {:main {:init-fn app.client/init}}
                 ;; guardrails checks only during dev
                 :dev        {:compiler-options
                              {:external-config {:guardrails {}
                                                 :fulcro {:html-source-annotations? true}}}}

                 :devtools {:after-load app.client/refresh
                            :preloads [com.fulcrologic.devtools.chrome-preload app.development-preload]}}}}
